

<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
       <div class="flex justify-between near-white f6">
              <div class="w-third mr2">
                     &copy; {{ now.Format "2006"}}
              </div>

              <div class="w-two-thirds mr2">
                     Folosirea acestui site implica acordul dumneavoastra pentru utilizarea modulelor cookie in vederea imbunatatirii serviciilor oferite.
              </div>
       </div>
</footer>